<div class="day-final-word-separator">
  <hr />
</div>

<style>
  .day-final-word-separator {
    display: flex;
    justify-content: center;
  }

  .day-final-word-separator > hr {
    margin-top: 50px;
    width: 60px;
    border-style: dotted none none;
    border-width: 7px;
    border-color: var(--sl-color-accent);
  }

  :root[data-theme='dark'] {
    .day-final-word-separator > hr {
      border-color: var(--sl-color-white);
    }
  }
</style>